<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="margin: 0; padding: 0; font-family: Trebuchet MS; color: rgb(31, 78, 120);">
    <div style="line-height: 1.6; color: rgb(31, 78, 120);">
        <h1 style="font-family: 'Trebuchet MS', Arial, sans-serif; font-size: 20px; margin: 0 0 15px 0; font-weight: bold;">
            Estimado/a vecino/a:
        </h1>
        
        <p style="margin: 0;">[AQUÍ ESCRIBÍS EL MENSAJE QUE QUIERAS ENVIAR A TODOS]</p>
    </div>
</body>
</html>