<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="margin: 0; padding: 0;">
    <div style="font-family: &quot;Trebuchet MS&quot;, Arial, sans-serif; line-height: 1.5;">
        <h1 style="color: rgb(31, 78, 120); font-family: &quot;Trebuchet MS&quot;, Arial, sans-serif; font-size: 20px; margin: 0px 0px 15px; font-weight: bold;">Estimado/a vecino/a:</h1>
        
        <p style="color: rgb(31, 78, 120); margin: 0px 0px 10px;">Le acercamos la liquidación de expensas correspondiente al ejercicio de {mes_expensas}, junto con su detalle. Asimismo, le recordamos el sistema de pago de expensas:</p>
        
        <ul style="color: rgb(31, 78, 120); margin: 10px 0px; padding-left: 20px;">
            <li style="margin-bottom: 5px;"><strong>Recargo por pago fuera de término:</strong>
                <ul style="margin: 5px 0; padding-left: 20px;">
                    <li>Después del día 10 de cada mes: <strong>10% de recargo</strong> sobre el monto total</li>
                    <li>Después del día 20 de cada mes: <strong>20% de recargo</strong> sobre el monto total</li>
                </ul>
            </li>
        </ul>
        
        <p style="color: rgb(31, 78, 120); margin: 15px 0px 5px;"><strong>DATOS DE LA CUENTA:</strong></p>
        
        <ul style="margin: 5px 0px; padding-left: 20px;">
            <li style="color: rgb(31, 78, 120);"><strong>Titular:</strong> Wilson Bernabe Rojas Pezzo (2B)</li>
            <li style="color: rgb(31, 78, 120);"><strong>Tipo y número de documento:</strong> DNI - 19006256</li>
            <li style="color: rgb(31, 78, 120);"><strong>CUIL:</strong> 20-19006256-3</li>
            <li style="color: rgb(31, 78, 120);"><strong>Cotitular:</strong> Marianella Cabrera Ahumada (2D)</li>
            <li style="color: rgb(31, 78, 120);"><strong>Banco:</strong> Banco de la Ciudad de Buenos Aires</li>
            <li style="color: rgb(31, 78, 120);"><strong>Número de cuenta:</strong> CA $ 000403900063950140</li>
            <li style="color: rgb(31, 78, 120);"><strong>Número de CBU:</strong> 0290039110000639501407</li>
            <li><strong style="color: rgb(31, 78, 120);">Alias:</strong> <font color="#1c4587">TORSO.PLATISTA.PEZ</font></li>
        </ul>
        
        <p style="color: rgb(31, 78, 120); margin: 15px 0px 10px;">Le recordamos que el pago puntual de las expensas es fundamental para el correcto mantenimiento del edificio y sus servicios.</p>

        <hr style="color: rgb(31, 78, 120); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-top: 1px solid rgb(204, 204, 204); margin: 15px 0px;">

        <p style="color: rgb(31, 78, 120); margin: 0px;">Para consultas o dudas, no dude en contactarnos.</p>
        
    </div>
</body>
</html>